services:
  api:
    container_name: talkie_api_${ENV}
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - '${SERVER_PORT}:${SERVER_PORT}'
    depends_on:
      - db
    image: talkie_api_${ENV}
    networks:
      - talkie_net
    restart: always
    env_file:
      - .env.${ENV}

  db:
    container_name: ${DB_HOST}
    image: postgres:14.3
    restart: always
    ports:
      - '${DB_EXPOSED_PORT}:${DB_PORT}'
    networks:
      - talkie_net
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
      PGPORT: ${DB_PORT}
    volumes:
      - ./postgres/${ENV}:/var/lib/postgresql/data
  
  redis:
    container_name: ${REDIS_HOST}
    image: redis:7.2
    restart: always
    ports:
      - '${REDIS_EXPOSED_PORT}:${REDIS_PORT}'
    networks:
      - talkie_net
    volumes:
      - ./redis/${ENV}:/data

networks:
  talkie_net:
